@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-dark text-white;
  scroll-behavior: smooth;
}

h1 {
  @apply text-3xl;
  @apply sm:text-4xl;
  @apply md:text-5xl;
}
h2 {
  @apply text-2xl;
  @apply sm:text-3xl;
  @apply md:text-4xl;
}
h3 {
  @apply text-xl;
  @apply sm:text-2xl;
  @apply md:text-3xl;
}
h4 {
  @apply text-xl;
  @apply md:text-xl;
}
h5 {
  @apply text-xl;
  @apply md:text-xl;
}

a {
  color: inherit;
  @apply underline;
}

* {
  box-sizing: border-box;
}


section {
  @apply  grid items-center justify-center mx-auto max-w-7xl;
  grid-template-columns: 50px calc(100% - 100px) 50px;
  grid-template-rows: 50px calc(100% - 100px);
  min-height: calc(100vh - 50px - 2rem);
}

@media (max-width: 767px) {
  section {
    grid-template-columns: 20px calc(100% - 40px) 20px;
    grid-template-rows: 20px calc(100% - 40px);
    min-height: calc(100vh - 20px - 2rem);
  }
}

button {
  @apply border border-white px-4 py-2 rounded-tl-xl rounded-br-xl cursor-pointer;
}

button:hover {
  filter: drop-shadow(0px 0px 10px white)
}

button.active-button {
  color: #00FFA3;
  filter: drop-shadow(0px 0px 10px #00FFA3)
}

.snap-scroll-container {
  @apply h-screen w-screen overflow-y-auto;
}

.section-content {
  @apply col-start-2 row-start-2 grid items-center xl:p-16 p-0 sm:p-4 md:p-8 py-12;
  min-height: calc(100% - 100px)
}

.section-icon-container {
  @apply col-start-2 row-start-1 text-center grid items-center justify-center;
}

.community-badge {
  @apply bg-red-200 text-xs rounded-tl rounded-br;
  padding: 1px 6px;
  background-color: #3F3F3F;
  display: inline-block;
}

.cromatic-aberration-effect {
  filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4)
}

.cromatic-aberration-effect-sm {
  filter: drop-shadow(1px 0px 0px #FD3E3E) drop-shadow(-1px -1px 0px #4DE8F4)
}

.green-glow {
  color: #00FFA3;
  filter: drop-shadow(0px 0px 10px #00FFA3)
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  @apply mb-8;
}

.spinner .path {
  stroke: #363636;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.logo-hover {
  animation: hover 3s ease-in-out infinite;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
}

@media (prefers-color-scheme: dark) {

}
